@import '../../_variables.scss';

.active-game {
    .button {
        position: absolute;
        top: 2rem;
        align-self: flex-end;
        right: 3rem;
    }

    @media (max-width: 600px) {
        .chat {
            height: 70vh;
            width: 18rem;
        }
    }
}