@import '../../variables.scss';

.chat-section {
    z-index: 10;

    .button {
        position: fixed;
        bottom: 3rem;
        right: 3rem;
        z-index: 5;
        background-color: $KahootPurple;
    }

    .chat {
        height: 75vh;
        width: 25rem;
        position: fixed;
        bottom: 1rem;
        align-self: flex-end;
        right: 1rem;

        background-color: white;
        padding: 2rem 0 2rem 2rem;
        border-radius: 10px;
        border: 2px solid $MainPurple;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);

        display: flex;
        flex-direction: column;
        padding-top: 5rem;

        .chat-title {
            margin: 0 auto;
            text-align: center;
            font-size: 2rem;

            position: absolute;
            top: 2rem;
            align-self: center;
            padding-right: 2rem;
        }

        .line {
            width: 100%;
            height: 2px;
            background-color: $MainPurple;
            position: absolute;
            left: 0;
            right: 0;
        }

        .all-messages {
            padding-top: 2rem;
            padding-right: 2rem;
            flex-grow: 1;
            overflow-y: auto;

            // Styling the scrollbar
            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-track {
                background-color: #f1f1f1;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $MainPurple;
            }

            scrollbar-color: $MainPurple #f1f1f1;
            scrollbar-width: thin;

            .individual-message {
                padding: 0.5rem 0;

                &.user {
                    text-align: right;
                }
            }
        }

        .new-message {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding-right: 2rem;
            flex-shrink: 0;
            padding-top: 1rem;

            .button {
                position: inherit;
                align-self: flex-start;
                background-color: $MainPurple;
            }
        }
    }
}