@import '../../variables.scss';

.button {
    display: block;
    background-color: $MainPurple;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;

    &:hover {
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    }

    &.selected {
        background-color: white;
        color: $MainPurple;
        border: 2px solid $MainPurple;

    }
}