@import '../../variables.scss';

.account-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .account-panel {
        background-color: white;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .account-title {
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            color: $MainPurple;
        }

        .account-info {
            font-size: 1.2rem;
        }

        .account-buttons {
            gap: 1.5rem;
            display: flex;
            flex-direction: column
        }
    }
}