@import '../../variables.scss';

.input-section {
    width: 100%;
    box-sizing: border-box;
}

input {
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: 2px solid $MainPurple;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}