@import '../../variables.scss';

.scoreboard {
    width: 20rem;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    color: $MainPurple;
    border: 2px solid $MainPurple;

    .title {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: bold;
    }

    .header-row,
    .player-row {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        margin-bottom: 0.5rem;
    }

    .header-row {
        background-color: $MainPurple;
        font-weight: bold;
        color: white;
    }

    .player-row {
        transition: transform 0.15s;

        &:hover {
            transform: scale(1.025);
        }
    }

    .rank-column {
        width: 3rem;
        text-align: left;
    }

    .name-column {
        flex: 1;
        text-align: left;
    }

    .score-column {
        width: 5rem;
        text-align: right;
    }
}