@import '../../variables.scss';

.all-questions-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    padding-top: 5rem;

    .timer-section {
        position: absolute;
        top: 3rem;
        left: 3rem;
    }

    .waiting-screen {
        color: $MainPurple;
    }

    .user-score {
        position: absolute;
        bottom: 2rem;
        left: 2rem;

        background-color: white;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);

        .score-title {
            color: $MainPurple;
            text-align: center;
            margin: 0;
            padding-bottom: 1rem;
        }

        .rank {
            padding-bottom: 0.5rem;
        }

        p {
            margin: 0;
        }
    }
}