@import '../../variables.scss';

.question-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .question-panel {
        background-color: white;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        label {
            font-size: 1.2rem;
            font-weight: bold;
            color: $MainPurple;
            align-self: center;
        }

        .question-buttons {
            gap: 1.5rem;
            display: flex;
            flex-direction: column;

            .button {
                position: inherit;
                align-self: center;
            }

            .true-false-buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .button {

                    background-color: white;
                    border: 2px solid $MainPurple;
                    color: $MainPurple;

                    &.selected {
                        background-color: $MainPurple;
                        color: white;
                        border: none;
                    }
                }
            }
        }
    }
}