@import '../../variables.scss';

.message {
    display: inline-block;
    max-width: 100%;
    background-color: $MainPurple;
    border-radius: 10px;
    padding: 0.5rem;
    color: white;
    word-wrap: break-word;

    .name,
    .text {
        margin: 0;
    }

    .name {
        margin-bottom: 0.5rem;
    }
}